@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Playfair Display", serif;
  }
}

@layer components {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a78bfa #f3e8ff; /* thumb and track color */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f3e8ff;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a78bfa;
    border-radius: 10px;
    border: 2px solid #f3e8ff;
  }
}

